@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
   margin: 0;
   padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
}
.flexb
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexbvertical
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.MostOuter
{
  width: 100vw;
  height: 88vh;
  background-color:#F7F7F9 ;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}
.boxgrand{
  width:74vw;
  height: 58vh;
}
.boxO{
    width: 74vw;
    height: 58vh;
    /* background-color: red;
    border: 2px solid blue; */
}

.pbox1,.pbox2,.pbox3{
  
  /* background-image: radial-gradient(circle, #0b7dd7, #2579d9, #3775db, #4870dc, #576bdc);    */
  background-image: linear-gradient(to bottom, #0b7dd7, #2189df, #3294e6, #41a0ee, #4facf5); border-radius: 9%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.pbox1child1,.pbox2child1,.pbox3child1
{
 width:55vw;
 height: 58vh;
 /* background-image: radial-gradient(circle, #0b7dd7, #2579d9, #3775db, #4870dc, #576bdc); */
 background-image: linear-gradient(to bottom, #0b7dd7, #2189df, #3294e6, #41a0ee, #4facf5);
  border-radius: 10%;
  border-right: 5px solid  #0b7dd7;
}
.pbox1child2,.pbox2child2,.pbox3child2
{
 width:19vw;
 height: 58vh;
 border-top-right-radius: 10%;
 border-bottom-right-radius: 10%;
 /* border-radius: 10%; */
/* background-image: linear-gradient(to bottom, #0b7dd7, #2189df, #3294e6, #41a0ee, #4facf5); */

}
.pbox2
{
display: none;

}
.pbox3
{
    display: none;
}
.ptitle{
  font-size: 58px;
}
.titleboxsy
{
  width: 98vw;
  height: 20vh;
  position: relative;
  color: white;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 27px;
    /* background: linear-gradient(to right, hsl(216, 86%, 34%), hsla(227, 71%, 51%, 0.65), hsla(217, 54%, 60%, 0.65), hsla(205, 46%, 50%, 0.65), hsla(224, 60%, 51%, 0.65)),url('../Assest/img/STbck.jpg')no-repeat center center / cover; */
    /* background-image: linear-gradient(to right, #0b6dbb, #008fd1, #00b0df, #26d0e7, #6eeeec); */
    background: linear-gradient(to right, hsl(216, 86%, 34%), hsl(227deg 65% 45% / 65%), hsl(309deg 49% 25% / 65%), hsl(225deg 50% 54% / 65%), hsla(224, 60%, 51%, 0.65)),url(../Assest/img/STbck.jpg)no-repeat center center / cover;
}
.navlikeline
{
    width: 98vw;
    height: 7vh;
    background-color: #F7F7F9;  
}

.lineforani{
  width:15%;
  height:1px;
  border: 4px solid purple;
  position: absolute;
  bottom: 1px;
  left:10%;
  animation: ani 4s infinite;
  margin-bottom: 46px;
 
}
@keyframes ani{
  0%{
      transform: translatex(0%);
      left:15%;
      border: 4px solid purple;
      border-radius:10px ;
  }
  25%{
      border: 4px solid rgb(23, 190, 79);
  }
  50%{
      transform: translatex(100%);
      left: 50%;
      border: 4px solid blue;
  }
  75%{
    border: 4px solid rgb(23, 190, 187);
  }
  100%{
      transform: translatex(0%);
          left: 15%;
border: 4px solid purple;   }
}
.imgboxchild,.imgboxchild2,.imgboxchild2
{
  width:17vw;
  height: 56vh;
}
.linesdiv
{
  width: 60vw;
  height: 7vh;
  /* background-color: red; */
}
.line1
{
 width:8vw;
 height: 0rem;
 color: #41a0ee;
 border: 4px solid #2f82c6;
 margin: 58px;
 border-radius: 15%;
}
.line2
{
 width:8vw;
 height: 0rem;
 color: #41a0ee;
 border: 4px solid #82c7ff;
 margin: 58px;
 border-radius: 15%;
}
.line3
{
 width:8vw;
 height: 0rem;
 color: #41a0ee;
 border: 4px solid #82c7ff;
 margin: 58px;
 border-radius: 15%;
}
.symptomcontent
{
  width:55vw;
  height: 48vh;
 
}
.agebox
{
  height: 48vh;
  width:27vw;
}
.genderbox
{ height: 48vh;
  width:27vw;

}
.symptombtn
{
  width:55vw;
  height: 10vh;
 
}
.naxtbtn1,.naxtbtn2,.naxtbtn3 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #15b9e8 0, #2842fa 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
    
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width:9rem;
}

.naxtbtn1:focus,.naxtbtn2:focus,.naxtbtn3:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.naxtbtn1:hover,.naxtbtn2:hover,.naxtbtn3:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.naxtbtn1:active,.naxtbtn2:active,.naxtbtn3:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.labelsy
{
  padding: 10px;
  margin: 10px;
  font-size: 38px;
  font-weight: 500;
  color: white;
}
.labelgen
{
  font-size: 24px;
  color: whitesmoke;
  padding: 10px;
  margin-right: 27px;
}
.radiogen
{

  width: 19px;
  height: 19px;
}
input[type=text]:focus,input[type=number]:focus
{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
    padding-left: 22px;
}
.Ageip
{
  height: 12%;
  margin-top: 9px;
  width: 19%;
  border-radius: 25%;
    outline: none;
    border: none;
    padding: 19px;
    color:#2189df;
    font-weight: 700;
    font-size: 20px;
}
.symtitle3
{
  width: 55vw;
  height: 15vh;
}
.dropdownboxsym
{
  width: 55vw;
  height: 33vh;
  /* background-color: red; */
  color:#2842fa;
  font-size: 21px;
}
.tselect
{
 
    color: white;
    font-weight: 500;
}
select {
  width: 20em;
}
.resulttitle
{
  width:55vw;
  height: 10vh;
}
.alertsym
{
  width:40vw;
  height: 8vh; 
}
.resulttable
{
  width:55vw;
  height: 30vh;  
}
.diseasebox
{
  width:46vw;
  height: 9vh;   
  margin:8px;
 
}
.disname
{
  width:18vw;

}
.diserange
{
    width:28vw;
   
}
.disnameb
{
  color: #0b7dd7;
}