* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
  }

/* carosouel */

.in_carosouel_text {
    width: 37%;
    height: 100%;
  
    /* background-color: red; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Text_center {
    height: 58%;
  
    text-align: center;
    /* background-color: green; */
    margin-left: 6vw;
  }
  .h1incar h1 {
    font-size: 65px;
    font-weight: 1000;
    color: #224f9e;
    margin-bottom: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .sloganincar h4 {
    color: #2196f3;
    font-size: 27px;
    font-weight: 600;
  }
  .paraincar p {
    color: #7a8085;
    text-align: justify;
  }
  .btnclass2 {
    background-color: #3f51b5;
    font-family: "Poppins", sans-serif;
    border: none;
    color: white;
    width: 140px;
    padding: 7px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 20px;
  }
  .btnclswidth:hover > i {
    color: black;
  }
  
  .btnclswidth {
    width: 100%;
    margin-top: 0;
    background-color: transparent;
  }
  .bckimghome{
    height:100vh;
    width:100vw;
  }
  .imgh{
  height:100vh;
  }
  @media (max-width: 1245px) {
    .paraincar p {
      display: none;
    }
    .fixedParallex {
      position: static;
    }
    .fixedParallexcar {
      position: static;
    }
  }
  @media (max-width: 910px) {
    .imgincar {
      height: 55vh;
    }
    .h1incar h1 {
      font-size: 40px;
    }
    .sloganincar h4 {
      font-size: 17px;
    }
    .paraincar {
      display: none;
    }
    .in_carosouel_text {
      height: 80%;
    }
    .Text_center {
      height: 87%;
      /* background-color: green; */
    }
  }
  @media (max-width: 550px) {
    .h1incar h1 {
      font-size: 35px;
    }
    .sloganincar h4 {
      font-size: 15px;
    }
    .btnclass2 {
      font-size: 15px;
    }
  }
  

  /* carasoal end */
  .down h4 {
    color: #1953b0;
    /* font-size: 1.2rem; */
  }
  .why-sec {
    /* margin-top: 20px; */
    width: 30vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 1.5rem; */
    gap: 0.5rem;
    background-color: #5294ff;
    border-radius: 6%;
    padding: 2%;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .why-sec h1 {
    font-weight: bolder;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .why-sec p {
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
  }
  .upper {
    height: 12vh;
    background-color: #5294ff;
  
    width: 100%;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
  }
  .lorem-paragraph {
    color: #445063;
    text-align: center;
    padding: 2%;
  }
  .down {
    position: absolute;
    top: 48%;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    
  }
  
  .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24vh;
    width: 100%;
  }
  .midicon{
    width:34%;
    height:50%;
    border-radius: 50%;
    background-color:white;
    color:#1953b0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .boxes {
    height: 100%;
    width:100vw;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    /* margin: 0% 2%; */
    background-color: white;
    color: white;
    /* position: relative;
    top: 0px; */
    padding-bottom: 4vh;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.38); */
    padding: 1%;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    transition: all 2s;
    width: 18vw;
    height: 43vh;
    border: 0.1px solid #5294ff;
    border-radius: 6%;
  }
  
  .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background-image: linear-gradient(135deg, cyan, rgb(176, 176, 219)); */
    background-color: #e6efff;
    transition: all 0.7s;
    display: flex;
    border-radius: 6%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* color: black; */
  }
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background-image: linear-gradient(140deg, cyan, rgb(34, 85, 224)); */
    background-color: #5294ff;
    transition: all 0.7s;
    display: flex;
    border-radius: 6%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: black; */
    transform: rotateY(180deg);
    color:white;
  }
  .back p {
    text-align: center;
    color: white;
    padding: 20px;
  }
  .box:hover {
    transform: rotateY(180deg);
  
    transition: all 2s;
  }
  .down h4 {
    font-weight: 700;
    color: #1953b0;
  }
  .center {
    text-align: center;
  }
  @media only screen and (max-width: 910px) {
    .why-sec {
      height: 100%;
      /* width: 50%; */
      width: 430px;
      gap: 0.5rem;
    }
  
    h2 {
      font-size: 1.1rem;
    }
  
    .box {
      /* width: 45vw; */
      width: 400px;
      height: 41vh;
    }
    .boxes {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
    .down {
      top: 53%;
    }
  }
  @media only screen and (max-width: 622px) {
    .why-sec {
      gap: 0.5rem;
      width: 70%;
    }
    .box {
      width: 65vw;
      height: 35vh;
    }
    .down {
      top: 57%;
      gap: 0;
    }
  }
  
  @media only screen and (max-width: 330px) {
    .why-sec {
      width: 90%;
    }
    .box {
      width: 85%;
    }
    .down {
      position: absolute;
      top: 50%;
    }
  }
  @media only screen and (max-width: 238px) {
    h2,
    .lorem-paragraph {
      font-size: 0.8rem;
    }
    .back p,
    .why-sec p {
      font-size: 0.7rem;
    }
    .box {
      width: 80vw;
    }
  }
  